$white: #fff;    // 白色
$gray1: #ccc;    // 灰色
$gray2: #969696; // 淡灰色
$gray3: #7e8c8d; // 字体灰色
$black1: #000;   // 黑色
$black2: #323232;// 淡黑色
$red1: #c00;     // 红色
$orange1: #ff6813;// 橘红色
$orange2: #ffb139;// 橘色
$blue1: #3b5998;  // 蓝色
